<!-- templates/add_product.html -->
{% extends 'base.html' %}
{% block content %}
    <h2>Add New Product</h2>
    
    <form method="post">
        <label for="name">Product Name</label>
        <input type="text" id="name" name="name" required class="form-control">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" required class="form-control">
        <label for="unit">Unit</label>
        <input type="text" id="unit" name="unit" required class="form-control">
        <label for="qty">Quantity</label>
        <input type="number" id="qty" name="qty" required class="form-control">
        <label for="category">Category</label>
        <select id="category" name="category" required class="form-control">
            <option value="" disabled selected>Select a category</option>
            {% for category in categories %}
                <option value="{{ category['proc_id'] }}">{{ category['name'] }}</option>
            {% endfor %}
        </select>
            <label for="reorder_point">Reorder Point</label>
            <select id="reorder_point" name="reorder_point" class="form-control">
                <option value='Not-Reorder'>No Reorder Point</option>
                <option value='Reorder'>Reorder Point</option>
            </select>
        <button type="submit" class="btn btn-success">Add Product</button>
    </form>

{% endblock %}

